@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    --success-color : #6ab04c;
    --site-color : #f44336;
    --danger-color : #ff0707;

    --main-color : #727475;
    --main-bg-color : #fff;
    --second-bg-color : #f1f1f1;
}
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb{
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
body{
  background-color: var(--main-bg-color);
  color: var(--main-color);
  font-style: italic;
  font-family: "Rubik", sans-serif;
}
body.dark{
    --main-color : #f5f6fa;
    --main-bg-color : #23242d;
    --second-bg-color : #181818;
}
ul,li{
  list-style: none;
}
/*
==========================
********* navbar *********
========================== 
*/
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  position: sticky;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
  padding: 5px 15px;
  font-size: 22px;
  top: 0px;
  z-index: 1;
}
 img{
  width: 60px;
}
.navbar .logo-bars{
  display: flex;
  align-items: center;
}
.navbar .bars,
.mode,
.notification{
  margin-right: 20px;
  cursor: pointer;
} 
.logo{
  width: 50px;
}
.navbar .input-box{
  width: 40%;
  font-size: 18px;
  position: relative;
}
.navbar .input-box input{
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--second-bg-color);
  padding: 10px 10px 10px 30px;
  border-radius: 30px;
  text-transform: capitalize;
}
.navbar .input-box .search-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.navbar .info{
  display: flex;
  align-items: center;
}
.navbar .info .notification{
  position: relative;
}
.navbar .info .notification .number{
  position: absolute;
  font-size: 13px;
    font-weight: bold;
    background-color: var(--site-color);
    width: 20px;
    color: #fff;
    height: 20px;
    border-radius: 50%;
    right: -10px;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .info .avatr img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/* dropmenu */
.dropdown-menu{
  position: absolute;
  right: 0;
  top: 100%;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: var(--main-bg-color);
  width: 280px;
  border-radius: 7px;
  display: none;
}
.dropdown-menu.active{
  display: block;
}
.dropmenu-content{
  max-height: 400px;
  overflow-y: auto;
}
.dropmenu-content li,
.dropdown-menu .item{
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--second-bg-color);
  cursor: pointer;
  font-size: 15px;
}
.dropdown-menu .item span{
  margin-right: 20px;
}
.dropmenu-content li img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}
.dropmenu-content li .text{
   margin-left: 20px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis; 
}
.dropmenu-content li:hover{
  background-color: var(--second-bg-color);
}
.dropmenu-content li:hover .text{
  white-space:unset;
}
.dropdown-menu.setting{
  width: 150px;
}
/*
==========================
********* content ********
========================== 
*/
.content{
  display: flex;
}
/* side bar */
.content .sidebar{
  height: calc(100vh - 60px);
  width: 250px;
  position: sticky;
  background-color: var(--main-bg-color);
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.12);
  top: 60px;
  overflow: hidden;
  transition: 0.5s width ease-in-out;
  flex-shrink: 0;
}
.content .sidebar.active{
  width: 80px;
}
.content .sidebar .sidebar-nav{
  display: flex;
  align-items: center;
  padding: 15px 0;
  position: relative;
  cursor: pointer;
  transition: .3s background ease;
  font-size: 17px;
}
.content .sidebar .sidebar-nav.active{
  background-color: var(--second-bg-color);
  color: var(--site-color);
}
.sidebar .sidebar-nav.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background-color: var(--site-color);
}
.sidebar-nav .icon {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    flex-shrink: 0;
}
/* wrapper */
.content .wrapper {
  width: 100%;
  padding: 10px;
  background-color: var(--second-bg-color);
  overflow: hidden;
}
.wrapper .row {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
}
.row .box {
  position: relative;
  background-color: #727475;
  width: 23%;
  height: 150px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px 1%;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}
.row .box:nth-of-type(odd) {
  background: linear-gradient(to right, #e43a15, #e65245);
}
.row .box:nth-of-type(even) {
  background: linear-gradient(to right, #66bb6a, #43a047);
}
.box img {
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
}
.box:nth-of-type(1) img {
  left: 10px;
  width: 50px;
}
.box:nth-of-type(4) img {
  right: 10px;
  width: 50px;
}
.box span {
  margin: 5px 0;
  font-size: 20px;
  position: relative;
}
/* row2 */
.table {
  padding: 20px;
  width: 100%;
  background-color: var(--main-bg-color);
  margin: 10px 0;
}
.table-body {
  max-height: 400px;
  overflow: auto;
}
.table-body .table-row {
  display: grid;
  grid-template-columns: repeat(6, minmax(180px, 1fr));
  padding: 10px 0;
  border-bottom: 2px solid var(--second-bg-color);
  position: relative;
}
.table-body .table-row:first-of-type {
  font-weight: bold;
  border: none;
}
.table-row > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-body .table-row:not(:first-of-type)::before {
  content: "";
  position: absolute;
  background-color: var(--site-color);
  width: 4px;
  height: 70%;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.table-row .progress .bar {
  width: 101%;
  background-color: #fff;
  height: 8px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
  border-radius: 5px;
}
.table-row .progress .bar::before {
  content: "80%";
  position: absolute;
  top: -20px;
  font-size: 13px;
}
.table-row .progress .bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background-color: var(--site-color);
  border-radius: inherit;
}
.table-row .status span {
  padding: 5px 7px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}
.table-row .status span.cancel, .table-row .actions button:first-of-type {
  background-color: var(--danger-color);
}
.table-row .status span.accepted, .table-row .actions button:last-of-type {
  background-color: var(--success-color);
}
.avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.table-row .actions button {
  margin: 0 4px;
  padding: 5px 15px;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}
 .table-row .actions button:first-of-type {
  background-color: var(--danger-color);
}
.table-row .actions button:last-of-type{
  background-color: var(--success-color);
}
/* row3 */
.chart
{
    height: 500px;
    margin-top: 20px;
}
.chart #chart
{
    width: 100%;
    padding : 20px;
    background-color: var(--main-bg-color);
}
/*
=============================
********* responsive ********
============================= 
*/
@media (max-width : 1024px) 
{
    .row .box
    {
        width: 48%;
    }  
    #chart
    {
        padding: 10px;
    }
}

@media (max-width : 768px) 
{
    .row .box
    {
        width: 98%;
    }  
    .table-body .table-row
    {
        grid-template-columns: repeat(6,minmax(120px , 1fr));
    }
    .table-body .table-row > div
    {
        text-align: center;
    }
    .content .sidebar
    {
        position: fixed;
        z-index: 1;
        width: 0;
    }
}
@media (max-width : 600px)
{
    .navbar .input-box
    {
        display: none;
    }
    .table,
    .wrapper .row,
    #chart
    {
        padding: 10px 0;
    }
} 

